.radioBlock {
  width: 6.5rem;
  height: 4rem;
  border: 1px dashed #8055ff;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.radio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio__item {
  z-index: -1;
  opacity: 0;
  position: absolute;
}
.radio__item + .radio__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.radio__item + .radio__label::before {
  content: "";
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid #bad8f5;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
}
.radio__item:checked + .radio__label::before {
  border-color: #459df5;
  background-color: #459df5;
  background-image: url(../../icons/dot.svg);
}
.radio__item:checked + .radio__label {
  color: #459df5;
}
