.input {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.field {
  height: 32px;
  width: 100%;
  border: 1px solid #459df5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 4px 8px 8px;
}
.field:focus {
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
}
.field::placeholder {
  color: #bad8f5;
}
.fieldIncorrect {
  border: 1px solid #f53152;
  padding: 8px 32px 8px 8px;
}
.fieldIncorrect:focus {
  border: 1px solid #459df5;
}
.button {
  border: none;
  cursor: pointer;
  background: inherit;
  position: absolute;
  display: flex;
  right: 0.5rem;
  padding: 0;
}
.iconLocked {
  width: 1rem;
  height: 1rem;
  position: absolute;
  display: flex;
  right: 8px;
}
.iconInput {
  padding: 0.5rem 2.25rem 0.5rem 2rem;
}
.searchIconInput {
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 9.5px;
  stroke: #459df5;
}
.text {
  position: absolute;
  left: 0.5rem;
}
.textInput {
  padding: 8px 32px 8px 26px;
}
.buttonIcon {
  width: 1rem;
  height: 1rem;
  stroke: #bad8f5;
  fill: #bad8f5;
  pointer-events: none;
}
.fieldDisabled {
  background: #bad8f5;
  color: #000;
  padding: 8px 32px 8px 8px;
}
