.icon {
  width: 1rem;
  height: 1rem;
  fill: #fff;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 0;
  padding: 0.75rem 0.5rem;
  color: #fff;
  user-select: none;
}
.cell:nth-child(1) {
  flex: 0 1 0;
}
.cell:nth-child(2) {
  flex: 0 1 6.75rem;
}
.cell:nth-child(3) {
  flex: 0 1 11rem;
}
.cell:nth-child(4) {
  flex: 0 1 11rem;
}
.cell:nth-child(5) {
  flex: 0 1 6rem;
}
.cell:nth-child(6) {
  flex: 0 1 8rem;
}
.cell:nth-child(7) {
  flex: 0 1 22.25rem;
}
.text {
  margin-right: 0.25rem;
}
