html,
body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}
.wrapper {
  margin-right: 3rem;
}
.components {
  padding-top: 5rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
