html,
body {
  height: 100vh;
  width: 100%;
  font-family: "Ubuntu" sans-serif;
}
.components {
  padding-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  margin: 0 3rem 3rem 0;
}
