.label {
  display: flex;
  padding-left: 1rem;
}
.controlLabel {
  display: block;
  padding-left: 0.5rem;
  width: 100%;
  align-items: center;
}
.checked {
  color: #459df5;
}
.withOutIcon {
  padding-left: 0px;
}
